body {
  background-color: #ffe5ec;
  margin: 0; /* Asegúrate de que no haya márgenes predeterminados */
  padding: 0; /* Asegúrate de que no haya relleno predeterminado */
}

#root {
  max-width: 1280px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center; /* Centrar verticalmente */
  height: 100vh; /* Altura del viewport */
}

.menu {
  width: 200px;
  margin-right: 20px; /* Espacio entre el menú y el contenido */
}

.content {
  width: 600px; /* Ancho del contenido */
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas iguales */
  gap: 20px; /* Espacio entre las imágenes */
}

.product-item {
  text-align: center;
}

.product-item img {
  max-width: 100%;
  height: auto;
}

/*tarjetas*/

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 300px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.card img {
  max-width: 100%;
  height: auto;
}

.card h3 {
  margin-top: 0;
}

.card p {
  margin: 5px 0;
}

